body {
    width: 500px;
    height: 150px;
}

#login-info {
    display: none;
    opacity: 0;
    transition: 0.4s;
}

#account-info {
    display: none;
    opacity: 0;
    transition: 0.4s;
}

#logout-btn {
    width: 100px;
}
